.nav {
    background-color: #000000 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursor2 {
    cursor: pointer;
    color: white;
}

.nav-text {
    color: #d21554 !important;
}

.text-decorator-none {
    text-decoration: none;
}