@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.barraSobre {
    background-color: #c40041 !important;
}

.texto-sobre {
    font-family: 'Caveat', cursive !important;
    font-size: 20px !important;
    padding: 30px !important;
}