.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: rgb(252, 0, 126) !important;
    background-color: rgb(252, 0, 126) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}