 .formulario {
    background-color: white;
    border: 1px;
    opacity: 0.92;
    border-radius: 1em;
    margin-top: 240px;
    margin-right: 260px;
 }

 .imagem {
    background-image: url("../../assets/mulherestec.jpg");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
}

 .textos1 {
    font-weight: bold !important;
 }
 
 .text-decorator-none {
     text-decoration: none;
 }



