.textos1{
    font-weight: bold !important;
    cursor: pointer;
 }

 .botaoLogin {
     background-color: #d21554 !important;
     color: white !important;
 }

 .imagem {
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E03AQGtQh-yGF5mBA/profile-displayphoto-shrink_800_800/0/1646440280736?e=1656547200&v=beta&t=RK-zBr5NT9YpP1-HUF5ySnqqSHmSpxBXy6PuA3IdtL0);
 }
 