.caixa{
    background-color: #d61656;
}

.titulo{
   color: white !important;
   font-weight: bold !important;
}

.botao{
    border-color: white;
    background-color: white !important;
    color: #d21554  !important;
    font-weight: bold !important;
}

.postagens{
    background-color: white;
}