.caixa {
    background-color: #e81d61;
    flex-direction: row;  
    justify-content: center; 
    align-items: center;
}

.titulo {
   color: white !important;
   font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: white !important;
    color: #d21554 !important;
    font-weight: bold !important;
}

.postagens {
    background-color: white;
}